@import "../../styles/partials/colours";
@import "../../styles/partials/variables";

.item {
    display: flex;
    padding-top: $simple-padding;
    padding-bottom: $simple-padding;
    list-style: none;

    &__image-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 180px;
        height: 180px;
        margin-left: $simple-padding;
        margin-right: $simple-padding;
        border-radius: 4px;
        outline: none;
        overflow: hidden;
    }

    &__image {
        height: 180px;
    }

    
}

.item:not(:last-child) {
    border-bottom: 1px solid $light-grey;
}
