@import "../../styles/partials/colours";
@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.item-description {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: $double-padding;

    &__image-container {
        display: flex;
        flex: 2;
        max-width: 720px !important;
        margin-right: $double-padding;
        order: 1;
        width: -webkit-fill-available;

        @media (max-width: 594px) {
            margin-right: unset;
        }
    }

    &__image {
        max-width: 720px;
        border-radius: 4px;
        margin-bottom: $double-padding;
        width: -webkit-fill-available;
    }

    &__description-container {
        display: flex;
        flex-direction: column;
        max-width: 720px;
        order: 3;
    }

    &__description-title {
        font-size: 28px;
        font-weight: 500;
        margin-bottom: $double-padding;

        @include media(medium) {
            font-size: 24px;
        }
    }

    &__description-label {
        font-size: 16px;
        color: $grey;

        @include media(medium) {
            font-size: 14px !important;
        }
    }
    
    
  
}


